WebServices/WebService.ConsoleClient/Connected Services/LibraryServiceWCF/LibraryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Data.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Data.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLibros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libros" nillable="true" type="tns:Libros" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibros" nillable="true" type="tns:ArrayOfLibros" />
  <xs:complexType name="Libros">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdLibro" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libros" nillable="true" type="tns:Libros" />
</xs:schema>